components:
  schemas: {}
  securitySchemes:
    ActorHeader:
      in: header
      name: X-Actor-Id
      type: apiKey
info:
  title: Personal Ops API
  version: idl.v1.2.2
openapi: 3.0.3
paths:
  /health:
    get:
      operationId: health_check
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  mode:
                    type: string
                  status:
                    type: string
                type: object
          description: Healthy
      summary: Health check
      tags:
      - system
